@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.today {
  background-color: lightblue;
}

.days-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); /* 自動的に行の高さを調整 */
  gap: 10px; /* グリッド間の隙間 */
}

.header-center {
  text-align:  center;  
}

    

